.nc-control-bm {
  background: white;
}

.leaflet-touch .nc-bm-button {
  font-size: 22px;
}

.nc-bm-list-container {
  margin: .5em 0;
  padding: 0 1em;
  min-height: initial;
  max-height: calc(100vh - 5em);
  overflow: auto;
}

.nc-bm-list-container.expanded {
  min-height: 10em;
}

.nc-bm-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.nc-bm-list button {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  text-align: left;
  cursor: pointer;
}
