html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nc-map {
  width: 49.5%;
  height: 100%;
  position: relative;
}

.nc-map > div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nc-image {
  float: left;
}

.nc-base {
  float: right;
}

.nc-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 999;
}
